@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello :)</h1>
    <p>This is my test task. Please upload your file in "Upload" menu section or go to "Workers" section to view all workers in your database</p>
</div>
